.Produtos {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
   
    h1 {
       text-align: center;
       margin-bottom: 20px;
    }
   
    table {
       width: 100%;
       border-collapse: collapse;
   
       th, td {
         padding: 10px;
         text-align: center;
         border: 1px solid #ccc;
       }
   
       th {
         background-color: #f2f2f2;
         
       }
   
       tbody tr:nth-child(even) {
         background-color: #f2f2f2;
       }
   
       tfoot {
         
         background-color: #f2f2f2;
       }
    }
   
    button {
       background-color: #000000;
       border: none;
       color: white;
       padding: 10px 20px;
       text-align: center;
       text-decoration: none;
       display: flex;
       font-size: 17px;
       margin: 10px 5px;
       cursor: pointer;
    }
   }