
.cabecalho{
    
    background-color: #999;
    font-size: 1.5rem;
    font-weight: bold;
    width: 50%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    ul{
        list-style: none;
        
        li a{

            text-decoration: none;
            color: #fff;
            display: block;
            padding: 8px 16px;
            transition: background-color ease-out 300ms;
            
            &:hover{
                background-color: #111;
            }

        }

    }

    .active{
        background-color: blue !important;
    }

}

