*{

    padding: 0;
    box-sizing: border-box;
}

.container{
    margin-left: 20%;
    margin-right: 20%;
    
    & div{
       
        & figure{
            
            & img{
                display: block;
                width: 100%;
                margin: 0 auto;
            }
        }
    }
}